*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	color: #ffffff;
	background-color: #404040;
	font-family: "Lato", sans-serif;
}
#container {
	margin-left: auto;
	margin-right: auto;
	width: 1000px;

	#logo {
		margin: 20px 0 0 0;
		letter-spacing: 3px;
		font-size: 44px;
		font-weight: 900;
	}

	#menu {
		margin: 20px 0 0 0;
		padding: 10px;
		background-color: #303030;
		.option {
			float: left;
			padding: 10px;
			height: 40px;
			min-width: 50px;
			font-size: 18px;
			font-weight: 700;
			border-right: 2px dotted #5c5b5b;
			opacity: 0.8;
			cursor: pointer;
			transition: 0.3s;
		}
		.option:hover {
			background-color: #0202025e;
			border-radius: 5px;
		}
	}
	#topbar {
		height: 170px;
		padding: 10px;
		margin: 20px 0 25px 0;
		font-size: 25px;
		background-color: #16e943;
		.picture {
			float: left;
			opacity: 0.9;

			img {
				height: 160px;
				width: 141px;
				padding: 20px;
				border-right: 2px dotted #cccccc;
				text-align: center;
				background-color: #15e943;
			}
		}
		.topbar_R {
			float: left;
			width: 788px;
			padding: 20px;
			font-size: 16px;
			text-align: justify;
			p {
				font-weight: 600;
			}
		}
	}
	#sidebar {
		float: left;
		min-height: 620px;
		width: 160px;
		padding: 20px;
		text-align: center;
		border-right: 2px dotted #666666;
		background-color: lightgray;
		.optionL {
			height: 60px;
			padding: 20px 10px 0 10px;
			margin-top: 20px;
            padding: 10px;
            border-bottom: 2px dotted #666666;
			font-size: 18px;
			font-weight: 800;
			color: #4e4d4d;
            transition: color, cursor, .3s;
		}
		.optionL:hover {
			color: #ffffff;
			background-color: #f36742;
			cursor: pointer;
            border-radius: 10px;
		}
	}
	#content {
		float: left;
		min-height: 620px;
		width: 840px;
		padding: 20px;
		text-align: justify;
		background-color: #dedede;
	}
	.main {
		font-size: 18px;
		font-weight: 600;
		color: #000;
	}
	#footer {
		clear: both;
	}
}
